<div class="text-info">
    Just a twig file
</div>
{% if havePermission %}
<div class="text-success">
    You have permission on this survey
</div>
{% else %}
<div class="text-warning">
    You don't have permission on this survey
</div>
{% endif %}
